<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"><log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">	<appender name="file" class="org.apache.log4j.FileAppender">		<param name="File" value="logs/pogues-model.log" />		<layout class="org.apache.log4j.PatternLayout">			<param name="ConversionPattern" value="%-5p [%F:%L] %m [%C{2}]%n" />		</layout>	</appender>	<logger name="fr.insee.pogues" additivity="false">		<level value="debug" />		<appender-ref ref="file" />	</logger>	<root>		<level value="error" />		<appender-ref ref="file" />	</root></log4j:configuration>